<div class="container">
  <h1 class="my-5 text-center">{{ title }}</h1>

  <div class="row">
    <div class="col">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Encuentra el número primo según su posición</label>
              <input
                type="number"
                class="form-control"
                placeholder="Posición del número primo"
                [(ngModel)]="inputA"
                name="inputA"
              />
              <!-- I used ngModel == Two Way Binding for take the values  -->
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Encuentra el múltiplo de 3 según su posición</label>
              <input
                type="number"
                class="form-control"
                placeholder="Posición del multipli de 3"
                [(ngModel)]="inputB"
                name="inputB"
              />
              <!-- I used ngModel = Two Way Binding for take the values  -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button
              type="submit"
              class="btn btn-primary mt-3"
              (click)="numPrimos()"
            >
              Primo
            </button>
            <!-- I used (click) = Event Binding -->
          </div>

          <div class="col">
            <button
              type="submit"
              class="btn btn-primary mt-3"
              (click)="multiTres()"
            >
              Multiplo de 3
            </button>
            <!-- I used (click) = Event Binding -->
          </div>
        </div>
      </form>
      <!--Form closed-->

      <div class="col text-center mt-5">
        <Label>Tu número es: {{ resultado }} </Label>
      </div>
    </div>
  </div>
</div>
